My workflow 2 (1).json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "53 14 4 3 *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        -96
      ],
      "id": "3c65db30-7adc-4658-ab5d-7646c111436e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ZsWS88ZofcTsPEZfvzSaYYPweBNl4bPWEDbDh6t5BFE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ZsWS88ZofcTsPEZfvzSaYYPweBNl4bPWEDbDh6t5BFE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        -128
      ],
      "id": "13d7ad4b-9302-40b7-8459-342be4837b70",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "amy7BfnAhAhimNF1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=\"Happy Holi\"",
        "emailType": "text",
        "message": "=Dear {{ $json.Name }}, Happy Holi! and have a great day {{ $json.Message }}\n\nFrom A Ramcharan",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        656,
        -176
      ],
      "id": "af9e3920-ca9d-4ec7-a327-01fe93b59b3a",
      "name": "Send a message",
      "webhookId": "ce4723bb-da22-4537-969f-1c2e1cff0156",
      "credentials": {
        "gmailOAuth2": {
          "id": "LWU7mdZn2BpYAiu8",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d7da4fff-e20c-4222-b6a3-c67f5be4db55",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "43a1b1b4262eecaaf75170229abb5109b1712fa2858d02ebd25563cdcefeca4e"
  },
  "id": "JeoZBtRXcYh5HECF",
  "tags": []
}